<div class="hero-unit" style='padding:22px 32px 32px 32px;'>
  <h2 style='margin-top:-2px;'>TodoList</h2>
  <p style='font-size:10pt;line-height:12pt;'>This toy todo list app
    uses <a href='http://angularjs.org/'>AngularJS</a> for
    MVC, <a href='http://twitter.github.com/bootstrap/'>Bootstrap</a>
    for styling, and <a href='https://apigee.com/usergrid'>Usergrid</a>
    for backend storage. The scaffolding was created with yeoman, which
    is nice.** Yeoman also gave me <A href='http://gruntj.com'>grunt</a>
    for running a test server
    with automagic <a href='http://livereload.com/'>LiveReload</a>
    capability.<br/>  All good. </p>

  <h3>Items: {{getTotalTodos()}}</h3>

  <table class='unstyled'>
    <tr>
      <td>?</td>
      <td>Desc</td>
      <td>created</td>
      <td>completed</td>
      <td>&nbsp;</td>
    </tr>
    <tr ng-repeat="item in todoItems">
      <td><input type='checkbox' ng-model='item.done'
                 ng-click='onCheckedChanged(item)'/></td>
      <td><span class='foo'>{{item.text}}</span></td>
      <td><span class='foo'>{{item.created | dateFormatter}}</span></td>
      <td><span class='foo'>{{item.completed | dateFormatter}}</span></td>
      <td>
        <a class="btn btn-small btn-danger" ng-click="deleteItem(item)">
          <i class="icon-remove icon-white"></i></a>
      <td>
    </tr>
  </table>

  <form class='form-horizontal'>
    <input type='text' ng-model='newItemText' ng-model-instant>
    <button class='btn' ng-click='addTodo()'>
      <i class='icon-plus'></i> Add</button>
  </form>

  <p style='font-size:10pt;line-height:12pt;'> **<em>One drawback is that I
    could not figure out how to add bootstrap css to what yeoman set up,
    after I initially ran yeoman init. Somehow at that initial stage I
    selected <a href='https://github.com/hecbuma/compass-bootstrap'>Bootstrap
    for Compass</a>, and it turns out I don&apos;t want that, because I
    cannot figure out how to get the grunt server to compile the scss
    into something usable. So I just manually copied in the bootstrap
    css and images and ran that way. If Yeoman is just for scaffolding
    then it&apos;s fine to modify the project that way, but I think there&apos;s
    supposed to be a way to have yeoman do it and manage the
    dependencies. </em> </p>
</div>
