<div>

  <div class='h-collapsible' ng-controller="CollapseDemoController">
    <button class="btn-sm" ng-click="isCollapsed = !isCollapsed">{{getButtonSymbol()}}</button>
    <div collapse-width="isCollapsed" ><!-- collapse-type="width" expanded-size='340px' -->
      <div class="well well-lg" id='logging'></div>
    </div>
  </div>

  <div class="hero-unit" style='padding:22px 32px 32px 32px;'>
    <h2 style='margin-top:-2px;'>TodoList</h2>
    <p style='font-size:10pt;line-height:12pt;'>This toy todo list app
      uses HTML for the presenttion, <a href='http://angularjs.org/'>Google&apos;s AngularJS</a> for
      MVC, <a href='http://twitter.github.com/bootstrap/'>Twitter Bootstrap</a>
      for styling, and <a href='https://apigee.com/usergrid'>Apigee BaaS</a>
      for backend services, including user authentication and data storage.</p>

    <div ng-show="securityContext.checked && !securityContext.access_token">
      <p>Try logging in with dpchiesa@hotmail.com </p>
    </div>
    <div class="btn-group"
         ng-show="securityContext.checked && !securityContext.access_token"
         >
      <button class="btn btn-primary" ng-click="openLoginDialog()">Sign in</button> &nbsp;
      <button class="btn btn-info" ng-click="openRegisterDialog()">Register</button>
    </div>

    <div ng-show="securityContext && securityContext.access_token">
      <p>You are logged in as: {{securityContext.user.username}}
        <button class="btn btn-warning" ng-click="logout()">Sign out</button>
      </p>
    </div>
  </div>

  <div ng-show="securityContext && securityContext.access_token"
       style='margin-left:10px;'>
    <h3>Items: {{getShownTodos()}}/{{getTotalTodos()}}</h3>

    <div class='filters'>
      <em>Filter:</em>
      <span> status: <select style='width:auto;' ng-model="filter.complete"
                             ng-options="c.num as c.name for c in filter.completeOptions"></select></span>
      <span> description: <input type='text' ng-model='filter.descText' ng-model-options="{debounce: 1100}"/></span>
      <span> tags: <input type='text' ng-model='filter.tagsText' ng-model-options="{debounce: 900}"/></span>
      <span> priority: <select style='width:auto;' ng-model="filter.priority"
                               ng-options="p.num as p.name for p in filter.priorityOptions"></select></span>
    </div>

    <table class='unstyled tmain'>
      <tr class='item-table-header'>
        <td ng-click='setSort($event)'>?</td>
        <td ng-click='setSort($event)'>description</td>
        <td ng-click='setSort($event)'>notes</td>
        <td ng-click='setSort($event)'>tags</td>
        <td ng-click='setSort($event)'>priority</td>
        <td ng-click='setSort($event)'>created</td>
        <td class='date-sm' ng-click='setSort($event)'>modified</td>
        <td class='date-sm' ng-click='setSort($event)'>completed</td>
        <td>&nbsp;</td>
      </tr>
      <tr ng-repeat="item in todoItems | filter:filtered | orderBy:itemNormalizationFunction:sortReverse">
        <td><input type='checkbox' ng-model='item.done'
                   ng-click='onCheckedChanged(item)'/></td>
        <td class='item-desc'><div edit-in-place="item.text"
                 on-save="updateItemText(value,previousValue,item)"></div></td>
        <td>
          <textarea-popover ng-model="item.notes"
                            on-save="updateItemNotes(value,previousValue,item)"/></td>

        <td>
          <textarea-popover ng-model="item.tags"
                            on-save="updateItemTags(value,previousValue,item)"/></td>

        <!-- 
        <td><div class='item-tags'
                 edit-in-place="item.tags"
                 ng-change="updateItemTags(value,previousValue,item)">
        </div>
          <a class="btn btn-mini btn-purple">
            <i class="icon-plus-sign icon-white"></i></a>
        </td>
        -->

        <td>
          <select style='width:auto;'
                  class='item-priority'
                  ng-model="item.priority"
                  ng-change="updateItemPriority(item)"
                  ng-options="pri.num as pri.name for pri in priorities">
          </select>
        </td>
        <td class='item-date-sm'><span class='item-date'>{{item.created | dateFormatter}}</span></td>
        <td class='item-date-sm'><span class='item-date'>{{item.modified | dateFormatter}}</span></td>
        <td class='item-date-sm'><span class='item-date'>{{item.completed | dateFormatter}}</span></td>
        <td>
          <a class="btn btn-xs btn-danger" ng-click="deleteItem(item)">
            <span class="glyphicon glyphicon-remove glyphicon-white"></span></a>
        </td>
      </tr>
    </table>

    <form class='form-horizontal'>
      <input type='text' ng-model='newItemText' style='width:380px;' ng-model-instant>
      <button class='btn' ng-click='addTodo()'>
        <span class='glyphicon glyphicon-plus'></span> Add</button>
    </form>
  </div>

</div>
